.purchaseorder-table
{
    border: 1px solid #c3c3c3;
    width: 90%;
}


.purchaseorder-table thead
{
    background-color: #c3c3c3;
}


.purchaseorder-checkout-row
{
    clear: both;
    display: block;
    line-height: 2em;
}

.purchaseorder-checkout-row label 
{
    float: left;
    display: inline-block;
    padding-right: 15px;
}

.purchaseorder-checkout-row textarea 
{
    height: 150px;
}

.purchaseorder-checkout-row input 
{
    margin-bottom: 0;    
}



.purchaseorderswidgetprofit
{
    line-heigth: 4em;
}

.purchaseorderswidgettotal
{
    font-size: 1.5em;
    text-align: right;
    border-top: 4px double grey;    
    line-heigth: 4em;
}

.purchaceorderswidgetwait
{
    display: none;
    width: 16px;
    height: 16px;
    background-image: url('loading.gif');
}
